.topbar {
    width: 100%;
    background: none repeat scroll #094D58;
    height: 64px;
}

.topbar div, body{
	margin:0; /* Отступы вверху */

}

body{
    background-color: #8EA37A; /* Цвет фона веб-страницы */
    color: #8EA37A; /* Цвет текста в рамках body */
   }

.topbar a{
    color: #8EA37A;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 10px;
    font: 600 16px/24px proxima-nova,sans-serif;
    text-decoration: none;
}

.logo{
    text-align: center;
}




.content{

 min-height:500px; /* Высота фигуры */
 background:#094D58; /* фон блока */
 border: 2px #007794 solid; /* стили рамки */
 border-radius: 10px; /* закругление углов для всех, кто понимает */
 padding: 5px; /* внутренние отступы */

}



#btn{
    margin-top: 10px;
    margin-left: 120px;
    width:100px;
    height:29px;
    background: #094d58;
    color: #8EA37A;
    border-radius: 6px;
    border-color: #00b2d0;
}

#btn2{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    width:90px;
    height:25px;
    background: #094d58;
    color: #8EA37A;
    border-radius: 6px;
    border-color: #00b2d0;
}


