{% extends "base.html" %}
{% block content %}

        {% if error != None %}
        <ul>
            {{ error }}
        </ul>
        {% endif %}
        <h1>Add book/author:</h1>



            <table>
                <form method="POST" action="/edit">
                    <tr>
                        <TD>Add author:</TD><TD>{{form.add_author(size = 38)}}</TD><TD></TD>
                    </tr>
                    <tr>
                       <TD> </TD><td><input type="submit"  name = 'btn' value="Add author"></td>
                    </tr>
                </form>


                <form method="POST" action="/edit">
                    <tr>
                        <TD>Add book:</TD><TD>{{form.add_book(size = 38)}}</TD><TD></TD>
                    </tr>
                    <tr>
                        <TD>Select author:</TD><TD>{{form.authors}}</TD><TD></TD>
                    </tr>
                     <tr>
                       <TD> </TD><td><input type="submit"  name = 'btn' value="Add book"></td>
                    </tr>
                 </form>
            </table>


            <h1>Delete book/author:</h1>
          <table>
                <form method="POST" action="/edit">
                    <tr>
                        <TD>Delete author:</TD><TD>{{form.del_author}}</TD><TD></TD>
                    </tr>
                    <tr>
                       <TD> </TD><td><input type="submit"  name = 'btn' value="Del author"></td>
                    </tr>
                </form>

                <form method="POST" action="/edit">
                    <tr>
                        <TD>Delete book:</TD><TD>{{form.del_book}}</TD><TD></TD>
                    </tr>
                     <tr>
                       <TD> </TD><td><input type="submit"  name = 'btn' value="Del book"></td>

                    </tr>
                </form>
            </table>

{% endblock %}