{% extends "base.html" %}
{% block content %}
<form action="/login" method="POST"  name="login">
    {{form.hidden_tag()}}
        <div>
            #Login = Admin, Password = Admin. You has to change it on prod :)

            {% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>{% endif %}

            <table>
                <tr>
                    <TD>Login:</TD><TD>{{form.login(size = 25)}}</TD>
                </tr>
                <tr>
                    <TD>Password:</TD><TD>{{form.password(size = 25)}}</TD>
                </tr>

            </table>
                <input id = "btn2" type="submit" name = 'btn' value="Login">
        </div>
</form>
{% endblock %}