<!DOCTYPE html>
<html>

<head lang="en">
    <script type="text/javascript" src="../static/jquery-1.11.1.js"></script>
    <link type="text/css" rel="stylesheet" href="../static/style.css" />
    <title>{{ title }}</title>
</head>

<body>
    <div class="topbar">
        <br>
        <a href="/">Home</a>
        <a>|</a>
        <a href="/edit">Edit library</a>
        <a>|</a>
        {% if g.user == None %}

        <a href="/login">Sign in</a>
         {% else %}
        <a href="/logout">Logout</a>
        <br>
        <i>Hello, {{g.user['login']}}!</i>
        {% endif %}
        </div>
    </div>

    <div class="logo">
        <img id="logo" src="../static/logo.png" height="200">
    </div>

    <div class="content">
<br>
        <form method="POST" action="/search" id="search">
            Search: {{form.search(size = 70)}}
            <br>
            <input id = "btn" type="submit"  name = 'btn' value="Authors">
            <input id = "btn" type="submit"  name = 'btn' value="Books">

         </form>






<hr>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>

    {% for message in messages %}

    <font color=#E05475>{{ message }}</font>
    {% endfor %}
    </ul>

    {% endif %}
    {% endwith %}





{% block content %}{% endblock %}



</div>

</body>

</html>