<html>
  <head>

  </head>
  <body>
    <div>
        <form method="POST" action="" name="search">
        <a href="/index">Home |</a>
        {% if g.user == None %}
        <a href="/login">Sign in</a>
        {% else %}
        Hi, {{g.user['login']}}[<a href="/logout">Logout</a>]
        {% endif %}
         Search:
            {{form.search(size = 70)}}
            <input type="submit"  name = 'btn' value="Search">
         </form>
    </div>


    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
    <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </body>
</html>